parameters:
  level: 8
  paths:
    - .
  excludePaths:
    analyse:
      - src/Pretix/ApiClient
    analyseAndScan:
      - vendor
  ignoreErrors:
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ return type has no value type specified in iterable type array.#'
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ has parameter \$(element|form|complete_form|events_to_create|options|items) with no value type specified in iterable type array.#'

  # https://github.com/drush-ops/drush/issues/6334
  scanDirectories:
    - ../../../../../../vendor/drush/drush/src-symfony-compatibility

# Local Variables:
# mode: yaml
# End:
